<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>DataTable example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="padding: 1em;">
	<h1 class="text-center">DataTable</h1>
	<p class="text-center lead">Use this package to easily create tables based on any SQL query.</p>
	
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="text-right">
				{% if table1.error == '' or table1. error is none %}
				<a style="margin-bottom: 1em; color:green;" href="{{ url_for('download_csv', sql=sql)}}">Download As CSV</a>
				{% else %}
				<br>
				{% endif %}
			</div>
			<form method="GET" action="">
				<div class="form-group">
					<textarea rows=5 class="form-control" name="sql" style='white-space:pre;'>{{sql}}</textarea>
					<button type="submit" class="btn btn-primary btn-sm col-12" style="margin-top: 1em;">Submit</button>
				</div>

				
			</form>
			<br>
		</div>
		<div class="col-sm-3"></div>
	</div>
	{% with table=table1 %}
		{% include 'datatable.html' %}
	{% endwith %}
</body>
</html>